* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  width: 100%;
}
html a,
body a {
  text-decoration: none;
}
html ul,
body ul {
  list-style: none;
}

.header {
  align-items: center;
  display: flex;
  justify-content: center;
  background: url("../img/images/header-bg-image.jpg") no-repeat center/cover fixed;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  padding: 0.5rem 0;
}
.header .button {
  background-color: #FFFFFFB9;
  border-radius: 0.5rem;
  border: 1.5px solid #000000;
  cursor: pointer;
  font-size: 0;
  height: 40px;
  outline-style: none;
  padding: 0.5rem;
  width: 40px;
}
.header .nav {
  align-self: flex-start;
  background-color: #000000;
  color: #FFFFFF;
  height: 100vh;
  padding: 0.5rem;
  position: absolute;
  transform: translateX(-1000px);
  transition: 1s cubic-bezier(0, 1.01, 1, 1);
  visibility: hidden;
  width: 25%;
  z-index: 2;
}
@media (max-width: 700px) {
  .header .nav {
    width: 55%;
  }
}
.header .nav__item {
  text-align: center;
}
.header .nav__link {
  color: #000000;
  text-align: center;
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
  display: block;
  font-size: clamp(0.5rem, 0.5rem + 3vw, 1rem);
  font-weight: 400;
  margin: 0 auto;
  padding: 1rem;
  transition: 0.5s ease-out;
  width: -moz-fit-content;
  width: fit-content;
}
.header .nav__link::after {
  background: #FFF;
  content: "";
  display: block;
  height: 3px;
  width: 0;
}
.header .nav__link:hover::after {
  transition: 0.5s ease-out;
  width: 100%;
}
.header .logo {
  background-color: #FFFFFF46;
  border-radius: 50%;
  padding: 0.5rem;
  width: 20rem;
}
@media (max-width: 450px) {
  .header .logo {
    width: 15rem;
  }
}
.header .logo__img {
  opacity: 0;
  transform: translateY(-100px);
  transition: 1.25s ease-in;
}
.header .apresentation {
  padding: 0 1rem;
}
.header .apresentation__title {
  color: #000000;
  text-align: center;
  font-family: "Playfair Display", serif;
  color: #FFFFFF;
  font-size: clamp(1.45rem, 1.15rem + 3vw, 2.5rem);
}
.header .apresentation__text {
  color: #000000;
  text-align: center;
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
  font-size: 0.9rem;
  padding: 1rem 0;
}
.header .apresentation__title, .header .apresentation__text {
  opacity: 0;
  transform: scale(0);
  transition: 1.25s ease;
}

.icon {
  margin: 0 auto;
  width: 1.5rem;
}
.icon__img {
  animation: moving--icon 1s ease-in infinite alternate;
}

.our-menu {
  background-color: #F0F0F0;
  padding: 2.5rem;
}
.our-menu__title {
  color: #000000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: clamp(1rem, 0.5rem + 3vw, 1.35rem);
  font-weight: 400;
  padding: 1rem;
}
.our-menu__subtitle {
  color: #000000;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: clamp(1.35rem, 0.5rem + 3vw, 2.15rem);
  font-weight: 700;
  padding: 1rem;
}
.our-menu__item {
  background-color: #A00117;
  border: 2px solid #A00117;
  margin: 0 auto;
  width: 30px;
}
.our-menu .product-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem 0;
}
.our-menu .product-box .product-card {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px #000000;
  cursor: pointer;
  justify-content: space-around;
  margin: 1rem;
  padding: 0.5rem;
  transition: 0.3s ease-in-out;
  width: 500px;
}
.our-menu .product-box .product-card:hover {
  transform: scale(1.03);
  transition: 0.3s ease-in-out;
}
.our-menu .product-box .product-card .product-image {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}
.our-menu .product-box .product-card .product-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0.5rem;
}
.our-menu .product-box .product-card .product-description__title {
  color: #000000;
  text-align: center;
  font-family: "Inter", sans-serif;
  text-align: left;
  padding: 1rem;
  color: #000000;
  font-size: clamp(1.2rem, 0.5rem + 3vw, 1.4rem);
  font-weight: 700;
}
.our-menu .product-box .product-card .product-description__text {
  color: #000000;
  text-align: center;
  font-family: "Inter", sans-serif;
  text-align: left;
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.our-menu .product-box .product-card .product-description__price {
  color: #000000;
  text-align: center;
  font-family: "Inter", sans-serif;
  text-align: left;
  padding: 1rem;
  color: #1F1104;
  font-weight: 700;
  font-size: clamp(0.75rem, 0.70rem + 3vw, 1.35rem);
}
.our-menu .product-box .product-card .product-description__decorated-text {
  font-size: clamp(0.55rem, 0.5rem + 3vw, 1rem);
}
@media (max-width: 700px) {
  .our-menu .product-box .product-card {
    flex-direction: column;
    width: 300px;
  }
  .our-menu .product-box .product-card .product-image {
    height: 200px;
    width: 200px;
  }
  .our-menu .product-box .product-card .product-image img {
    width: 100%;
    height: 100%;
  }
}

.section-delivery {
  align-items: center;
  background: linear-gradient(#E0E0E0 65%, #A1A1A1 35%);
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-around;
}
.section-delivery .deliveryman-box {
  height: -moz-fit-content;
  height: fit-content;
  opacity: 0;
  transform: translateX(-50px);
  transition: 1s ease-out;
  width: -moz-fit-content;
  width: fit-content;
}
.section-delivery .deliveryman-box__image {
  width: 100%;
}
.section-delivery .delivery-description {
  color: #000000;
  text-align: center;
  font-family: "Inter", sans-serif;
  opacity: 0;
  transform: scale(0);
  transition: 1.25s ease-out;
}
.section-delivery .delivery-description__title {
  color: #000000;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: clamp(2rem, 4vw, 5rem);
  margin: 2rem 2rem 1rem 2rem;
  text-align: right;
}
.section-delivery .delivery-description__text {
  color: #000000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.9rem, 4vw, 2rem);
  margin: 2rem;
  text-align: right;
}
.section-delivery .delivery-description__decorated-text {
  font-family: Arial, sans-serif;
  font-size: clamp(1rem, 4vw, 2.55rem);
  text-transform: uppercase;
  -webkit-text-fill-color: #F0F0F0;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #000000;
}
.section-delivery .delivery-description__item {
  background-color: #A00117;
  border: 2px solid #A00117;
  float: right;
  margin-right: 2rem;
  width: 60px;
}
.section-delivery .delivery-description__telephone {
  align-items: center;
  background-color: #A00117;
  border-radius: 3rem;
  border: none;
  color: #FFFFFF;
  cursor: default;
  display: flex;
  float: right;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.5rem, 4vw, 1.30rem);
  font-weight: 600;
  justify-content: center;
  margin: 2rem;
  max-width: -moz-fit-content;
  max-width: fit-content;
  outline-style: none;
  padding: 1rem 2rem;
}
.section-delivery .delivery-description img {
  margin-right: 0.5rem;
  width: 20px;
}
@media (max-width: 800px) {
  .section-delivery .deliveryman-box {
    display: none;
  }
}

.about {
  background-color: #E0E0E0;
  padding: 2.5rem 0 1rem 0;
}
.about .about-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 1000px;
}
@media (max-width: 980px) {
  .about .about-section .first-card {
    order: 0;
  }
  .about .about-section .second-card {
    order: 1;
  }
  .about .about-section .third-card {
    order: 3;
  }
  .about .about-section .fourth-card {
    order: 2;
  }
}
.about .about-section .card-about {
  margin: 1rem;
  width: 450px;
}
.about .about-section .card-about__title {
  color: #000000;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: clamp(1.35rem, 0.5rem + 3vw, 2.15rem);
  padding: 0.5rem 1rem;
  text-align: left;
}
.about .about-section .card-about__text {
  color: #000000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.55rem;
  opacity: 0;
  padding: 0 1rem 1rem 1rem;
  text-align: left;
  transform: translateY(-100px);
  transition: 1.25s ease-out;
}
@media (max-width: 980px) {
  .about .about-section .card-about__text {
    text-align: justify;
  }
}
.about .about-section .card-about__item {
  background-color: #A00117;
  border: 2px solid #A00117;
  margin: 0 0 1rem 1rem;
  width: 70px;
}
.about .about-section .card-about__quote-decoration {
  font-size: 4rem;
  margin: 0 0 0 1rem;
}
.about .about-section .card-about__image {
  width: 100%;
}

.partners {
  background-color: #F0F0F0;
  padding: 2.5rem;
}
.partners__title {
  color: #000000;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: clamp(1.35rem, 0.5rem + 3vw, 2.15rem);
  padding: 0 0 0.5rem 0;
  text-align: center;
}
.partners__item {
  background-color: #A00117;
  border: 2px solid #A00117;
  margin: 0 auto;
  width: 50px;
}
.partners .partners-img {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;
}
.partners .partners-img__logo {
  height: -moz-fit-content;
  height: fit-content;
  margin: 2rem;
  width: 7rem;
}

.localization-map {
  border-top: 5px solid #191D20;
}

.footer {
  background-color: #191D20;
  padding: 2.5rem 0 1.5rem 0;
}
.footer-informations {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.footer-informations-logo {
  width: 13rem;
}
.footer-informations-schedules {
  padding: 1rem;
}
.footer-informations-schedules__title {
  color: #000000;
  text-align: center;
  font-family: "Playfair Display", serif;
  color: #FFFFFF;
  text-align: left;
}
.footer-informations-schedules__item {
  background-color: #A00117;
  border: 2px solid #A00117;
  width: 40px;
}
.footer-informations-schedules-container {
  padding: 1rem 0;
}
.footer-informations-schedules-container__text {
  color: #000000;
  text-align: center;
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
  padding: 0.25rem 0;
  text-align: left;
}
.footer-informations-schedules-address {
  align-items: center;
  display: flex;
}
.footer-informations-schedules-address__icon {
  box-sizing: content-box;
  padding: 0.25rem 0.5rem 0.25rem 0;
  width: 15px;
}
.footer-informations-schedules-address__text {
  color: #000000;
  text-align: center;
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  text-align: left;
}
.footer-informations .footer-informations-social-medias {
  align-items: center;
  display: flex;
}
.footer-informations .footer-informations-social-medias-container {
  margin: 5px;
}
.footer-informations .footer-informations-social-medias-container__icon {
  width: 50px;
}
.footer-arrow-icon {
  border-radius: 50%;
  cursor: pointer;
  margin: 0 auto;
  transition: 0.3s ease-in;
  width: 30px;
}
.footer-arrow-icon:hover {
  transform: translateY(-5px);
  transition: 0.3s ease-in;
}

/*# sourceMappingURL=home.css.map */
