.header,
.section-delivery,
.about .about-section .card-about,
.footer
	.menu--active
		transform: translateX(calc(-1000px + 1000px))
		transition: 1s cubic-bezier(0,1.01,1,1)
		visibility: visible

	.effect--appear-fall
		opacity: 1
		transform: translateY(calc(-100px + 100px))
		transition: 1.25s ease-out

	.effect--appear-grow
		opacity: 1
		transform: scale(1)
		transition: 1.25s ease-out

	.effect--appear-slid-left
		opacity: 1
		transform: translateX(calc(-50px + 50px))
		transition: 1s ease-out

	@keyframes moving--icon
		100%
			transform: translateY(15px)