@use 'variables'
@use 'mixins'

*
	box-sizing: border-box
	margin: 0
	padding: 0

html,
body
	height: 100%
	width: 100%

	a
		text-decoration: none

	ul
		list-style: none

.header
	@include mixins.flex-center
	background: url("../img/images/header-bg-image.jpg") no-repeat center / cover
	flex-direction: column
	height: 100vh
	justify-content: space-around
	padding: 0.5rem 0
	width: 100%

	.button
		background-color: #FFFFFFB9
		border: 1.5px solid variables.$primary-color
		border-radius: 0.5rem
		cursor: pointer
		font-size: 0
		height: 40px
		outline-style: none
		padding: 0.5rem
		width: 40px

	.nav
		align-self: flex-start
		background-color: #000000AF
		color: variables.$secondary-color
		display: none
		height: 100vh
		padding: 0.5rem
		position: absolute
		width: 25%
		z-index: 2
		@media (max-width: 700px)
			width: 55%

		&__item
			text-align: center

		&__link
			@include mixins.text
			color: variables.$secondary-color
			display: block
			font-size: clamp(0.5rem, 0.5rem + 3vw, 1rem)
			font-weight: 400
			padding: 1rem

	.logo
		background-color: #FFFFFF46
		border-radius: 50%
		padding: 0.5rem
		width: 20rem
		@media (max-width: 450px)
			width: 15rem

	.apresentation
		padding: 0 1rem

		&__title
			@include mixins.heading
			color: variables.$secondary-color
			font-size: clamp(1.45rem, 1.15rem + 3vw, 2.5rem)

		&__text
			@include mixins.text
			color: variables.$secondary-color
			font-size: 0.9rem
			padding: 1rem 0

.icon
	margin: 0 auto
	width: 1.5rem

.burgers
	background: url("../img/images/section-burger-bg-image.png") no-repeat center / cover fixed

.our-menu
	@include mixins.section-container

	&__title
		@include mixins.text
		font-size: clamp(1rem, 0.5rem + 3vw, 1.35rem)
		font-weight: 400
		padding: 1rem

	&__subtitle
		@include mixins.heading
		font-size: clamp(1.35rem, 0.5rem + 3vw, 2.15rem)
		font-weight: 700
		padding: 1rem

	&__item
		border: 2px solid variables.$quartenary-color
		margin: 0 auto
		width: 30px

	.product-box
		display: flex
		flex-wrap: wrap
		justify-content: space-around
		padding: 1rem 0

		.product-card
			@include mixins.flex-center
			background-color: variables.$secondary-color
			box-shadow: 0 0 10px variables.$primary-color
			cursor: pointer
			justify-content: space-around
			margin: 1rem
			padding: 0.5rem
			transition: 0.3s ease-in-out
			width: 500px

			&:hover
				transform: scale(1.03)
				transition: 0.3s ease-in-out

			.product-image
				@include mixins.flex-center
				margin: 0.5rem

			.product-description
				display: flex
				flex-direction: column
				justify-content: space-around
				margin: 0.5rem

				&__title
					@include mixins.text
					@include mixins.product-text
					font-size: clamp(1.2rem, 0.5rem + 3vw, 1.4rem)
					font-weight: 700

				&__text
					@include mixins.text
					@include mixins.product-text
					font-size: 0.9rem
					font-weight: 400
					line-height: 1.5rem

				&__price
					@include mixins.text
					@include mixins.product-text
					color: variables.$tertiary-color
					font-weight: 700
					font-size: clamp(0.75rem, 0.70rem + 3vw, 1.35rem)

				&__decorated-text
					font-size: clamp(0.55rem, 0.5rem + 3vw, 1rem)

		@media (max-width: 700px)
			.product-card
				flex-direction: column
				width: 300px

				.product-image
					height: 200px
					width: 200px

					img
						width: 100%
						height: 100%

.section-delivery
	background: linear-gradient(#E0E0E0 65%, #A1A1A1 35%)
	display: flex
	height: auto
	justify-content: space-around

	.deliveryman-image
		width: fit-content

		img
			width: 100%

	.delivery-description
		@include mixins.text
		align-self: center

		&__title
			@include mixins.heading
			font-size: clamp(2rem, 4vw, 5rem)
			margin: 2rem 2rem 1rem 2rem
			text-align: right

		&__text
			@include mixins.text
			font-size: clamp(0.9rem, 4vw, 2rem)
			margin: 2rem
			text-align: right

		&__decorated-text
			font-family: Arial, sans-serif
			font-size: clamp(1rem, 4vw, 2.55rem)
			text-transform: uppercase
			-webkit-text-fill-color: variables.$bg-color
			-webkit-text-stroke: 2px
			-webkit-text-stroke-color: variables.$primary-color

		&__item
			border: 2px solid variables.$quartenary-color
			float: right
			margin-right: 2rem
			width: 60px

		&__telephone
			align-items: center
			background-color: variables.$quartenary-color
			border: none
			border-radius: 3rem
			color: variables.$secondary-color
			cursor: default
			display: flex
			font-family: 'Inter', sans-serif
			font-size: clamp(0.5rem, 4vw, 1.30rem)
			font-weight: 600
			float: right
			justify-content: center
			margin: 2rem
			outline-style: none
			padding: 1rem 2rem
			max-width: fit-content

		img
			width: 20px
			margin-right: 0.5rem

	@media (max-width: 800px)
		.deliveryman-image
			display: none

.nav.menu--active
	display: block